.display-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto 50px;
    place-content: center;
    background-image: url("../../../public/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
    width: 600px;
    height: 600px;
}

@media screen and (max-width: 700px){
    .display-container  {
        display: flex;
        flex-wrap: wrap;
        width: 450px;
        height: 450px;
        background-size: auto 40%;
        gap: 10%;
    }
}
