.symbol-background {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.scissors-background {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background: var(--Scissors-Gradient);
    box-shadow: var(--Dark-Scissors);
}

.symbol {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    height: 70%;
    width: 70%;
    box-shadow: 0 -5px lightgray
    
}

.symbol img{
    height: 45%;
    width: 45%;
}