.symbol-background {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.paper-background {
    width: 200px;
    height: 200px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: var(--Paper-Gradient);
    box-shadow: var(--Dark-Paper);
}

.symbol {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    height: 70%;
    width: 70%;
    box-shadow: 0 -5px lightgray
    
}

.symbol img{
    height: 45%;
    width: 45%;
}

@media screen and (max-width: 700px){
    .paper-background {
        height: 40%;
        width: 40%;
        align-self: flex-start;
    }
}