.symbol-background {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.paper-background {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: var(--Paper-Gradient);
    box-shadow: var(--Dark-Paper);
}

.symbol {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    height: 70%;
    width: 70%;
    box-shadow: 0 -5px lightgray
    
}

.symbol img{
    height: 45%;
    width: 45%;
}