.Header {
    margin: 0 auto 100px;
    max-width: 50%;
    border: 2px solid var(--Header-Outline);
    border-radius: 10px;
}

.gameNameContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    height: 120px;
}

.gameNames {
    line-height: 0.8;
    padding: 10px;
}

.gameNames h1 {
    color: white;
    font-weight: var(--Semi-Bold);
    text-transform: uppercase;
    font-size: 2.1rem;
}

.scoreboard {
    background-color: white;
    width: 150px;
    border-radius:  10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.scoreName h3{
    color: var(--Score-Text);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: -5px;
}

.user-score h3{
    font-size: 3.5rem;
    color: var(--Dark-Text);
}

@media screen and (max-width: 1366px){
    .Header {
        max-width: 681px;
    }
}

@media screen and (max-width: 700px){
    .Header {
        max-width: 80%;
        margin: 0 auto 50px;
    }

    .scoreboard {
        width: 100px;
    }
}