.results-container {
    display: none;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 200px 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto 50px;
    place-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
    width: 1366px;
    height: 600px;
}


.user-pick-result{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.computer-pick-result {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: 100%;
    height: 100%;
}

.results-heading {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: -5px;
}

.user-picked-heading{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.computer-picked-heading {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.results-display-and-button {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.results-display-and-button h1{
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.results-display-and-button button{
    font-size: 1rem;
    background: white;
    color: var(--Header-Outline);
    text-transform: uppercase;
    padding: 10px 20px;
    width: 200px;
    border-radius: 5px;
    border: transparent;
}

.outer, .inner, .middle {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;;
}

.winner-outer {
    background-color:  rgba(255, 255, 255, 0.02);
}

.winner-middle {
    background-color: rgba(255, 255, 255, 0.04);
}

.winner-inner {
    background-color:  rgba(255, 255, 255, 0.06);
}

.outer {
    width: 600px;
    height: 600px;
}

.middle {
    width: 500px;
    height: 500px;
}

.inner {
    width: 400px;
    height: 400px;
}

.inner div {
    width: 300px;
    height: 300px;
}

.inner div div{
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    height: 70%;
    width: 70%;
    box-shadow: 0 -5px lightgray
    
}

.inner div div img{
    height: 45%;
    width: 45%;
}