.rules-btn-container {
    position: fixed; 
    bottom: 0; 
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100px;
    border: 3px solid var(--Header-Outline);
    border-radius: 10px;
    text-align: center;
}

.rules-btn {
    color: white;
    background: transparent;
    border: transparent;
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: var(--Semi-Bold);
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 700px){
    .rules-btn-container {
        right: Calc(50% - 96px / 2);
        margin-bottom: 50px;
    }

}