.rules-shown {
   display: block;
   position: fixed;
   background: rgba(0, 0, 0, 0.5);
   top: 0;
   left: 0;
   width:100%;
   height: 100%;
}
 
.rules-hidden {
   display: none;
}

.rules-display-container {
   position:fixed;
   background: white;
   width: 30%;
   min-width: 600px;
   height: auto;
   padding: 10px 50px;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   border-radius: 10px;
}

.rules-display-subcontainer-grid {
   display: grid;
   grid-template-rows: 150px 1fr;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
}

.rules-display-subcontainer-grid h1{
   grid-row: 1 / 2;
   grid-column: 1 / 2;
   justify-self: start;
   font-size: 3rem;
   text-transform: uppercase;
   color: var(--Dark-Text);
}

.rules-display-subcontainer-grid button{
   grid-row: 1 / 2;
   grid-column: 2 / 3;
   outline: none;
   background: transparent;
   color: lightgray;
   justify-self: end;
   border: none;
   font-size: 2.5rem;
   cursor: pointer;
}

.rules-display-subcontainer-grid img{
   grid-row: 2 / 3;
   grid-column: 1 / 3;
   border: 1px solid transparent;
   justify-self: center;
   width: 90%;
   height: 90%;
}

@media screen and (max-width: 700px){
   .rules-display-container {
      min-width: 300px;
      width: 80%;
   }
}